<div  class="container p-3">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" novalidate>
    <div class="form-group">
      <label for="Name">Nombre del Equio</label>
      <input class="form-control" id="Name" placeholder="F.C. BARCELONA" formControlName="Nombre" required>
    </div>
    <div class="form-group">
      <label for="Liga">Liga donde Juega</label>
      <input class="form-control" id="Liga" placeholder="ESPAÑOLA" formControlName="Liga" required>
      <div class="invalid-feedback" *ngIf="!this.checkoutForm.get('Liga').hasError('required')">
        Requerido
      </div>
    </div>
    <div class="form-group">
      <label for="Estadio">Nombre del Estadio</label>
      <input class="form-control" id="Estdio" placeholder="CAMP NOU" formControlName="Estadio" required>
    </div>
    <div class="form-group">
      <label for="Capitan">Nombre del Capitán</label>
      <input class="form-control" id="Capitan" placeholder="MESSI" formControlName="Capitan" required>
    </div>
    <div class="form-group">
      <label for="Fundacion">Año de Fundación</label>
      <input type="number" class="form-control" id="Fundacion" placeholder="1899" formControlName="Fundacion" required>
    </div>
    <div class="form-group">
      <label for="Titulos">Numero de Titulos</label>
      <input type="number" class="form-control" id="Titulos" placeholder="74" formControlName="Titulos" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!checkoutForm.valid">Submit</button>
  </form>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>